<nav class="navbar navbar-expand-lg">
    <div class="container">
        <ul class="navbar-nav m-2">
            <li class="nav-item">
                <a routerLink="/pokemons" href="" class="nav-link active">
                    <button class="btn btn-warning">
                        POKEMONS
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/ability" href="" class="nav-link active">
                    <button class="btn btn-warning">
                        HABILIDADES
                    </button>
                </a>
            </li>
        </ul>
    </div>
</nav>